<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Module1Tests">
		<classes>
			<class name="org.autoframework.web.BaseSuiteSetup"/>
		</classes>
	</test> 
	
	<test name="Module2Tests">
        <classes>
            <class name="org.core.products.CoreProductsTests_A"/>
        </classes>
    </test>
</suite>
