<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="FrameWorkTests">
	<!-- <parameter name="browserName" value="${browserName}"></parameter> -->
	<parameter name="browserName" value="${automation.name}"/>
		<classes>
			<class name="org.autoframework.tests.BrowserLaunchTest"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
